.overlay-image {
    height: 400px;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}

.carousel-container
{
    position: absolute;
    margin-top:-170px;
    margin-left: 10%;
    padding-bottom: 50px;
}


body {
    background-color: #000;
    color: white;
}

.modal-body iframe {
    width: 100%;
    height: 400px;
}